{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">WeShare</span>
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li>
          <a href="{% url "dashboard" %}">My dashboard</a>
        </li>
        <li>
          <a href="{% url "images:image_list" %}">Images</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
        Hello  <a href="{% url "profile" request.user.username %}"><u>{{ request.user.first_name }}</u>,</a>
        <a href="{% url "logout" %}"><u>Logout</u></a>
        /<a href="{% url "password_change" %}"><u>Change Password</u></a>
      {% else %}
        <a href="{% url "login" %}"><u>Log-in</u></a>
      {% endif %}
    </span>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>
</html>