{% extends 'base.html' %}

{% block title %}Images{% endblock %}

{% block content %}

{% load thumbnail %}

<h1>Images</h1>

<p>If you want to upload new images, please click <a href="{% url "images:image_upload" %}">here</a></p>

<div id="image-list">

    {% for image in images %}
    <div class="image">
      <a href="{{ image.get_absolute_url }}">
        {% thumbnail image.image "300x300" crop="100%" as im %}
          <a href="{{ image.get_absolute_url }}">
            <img src="{{ im.url }}">
          </a>
        {% endthumbnail %}
      </a>
      <div class="info">
        <a href="{{ image.get_absolute_url }}" class="title">
          {{ image.title }}
          </a> </div>
    </div>
  {% endfor %}
</div>

<div>
    <ul>
      {% if images.has_previous %}
        <li>
          <a href="?page={{ images.previous_page_number }}"> &larr; Newer images</a>
        </li>
      {% endif %}
      {% if images.has_next %}
        <li>
          <a href="?page={{ images.next_page_number }}">Older images &rarr;</a>
        </li>
      {% endif %}    
    </ul>
  </div>


{% endblock %}
