{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  <p>Please, use the following form to log-in, or <a href="{% url "register" %}">register an account</a></p>
  <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log in"></p>
  </form>
  <li><a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a></li>
  <li><a href="{% url "social:begin" "github" %}">Login with GitHub</a></li>
{% endblock %}